@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Alegreya:400,400italic);
@import url(http://fast.fonts.net/cssapi/8a6726c9-1d51-4f40-8fa7-3512932c2e3b.css);

html * {
	/* background-color: rgb(11, 15, 80); */
}

.pres_ctr{
	margin: 6px;
	padding: 6px;
	text-align: center;
}

.pres_name{
	font-size: 16px;
	font-family: 'Bree Serif', 'serif';
	background-color: transparent;
	border-width: 1px;
	border-radius: 3px;
	border-style: solid;
	border-color: rgb(110, 140, 200);
	margin: 6px;
	padding: 6px;
	color: rgb(110, 140, 200);
	text-decoration: none;
	display: inline-block;
}

.pres_name :hover{
	background: rgba(255, 255, 255, 0.5)
}
